<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hotel Life Content.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>Hotel Life Demo Content.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Hotel Life Demo Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Hotel Life Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Hotel Life Dev Aloha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Hotel Life Dev Content.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>Hotel Life Dev Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Hotel Life Dev.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Hotel Life Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Hotel Life LiveDev Content.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Hotel Life LiveDev Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Hotel Life LiveDev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Hotel Life Local.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Hotel Life.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67228D3C20A563D8006A0ABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67531B4920510A49007FC572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C296442088A0370064AD86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C29AE32088A38E0064AD86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67D5979021141F2A0041D9A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67D683C71FD1548C00A216B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CA99011F75162C00650A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CA99181F75162C00650A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CA99231F75162C00650A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
